@charset "UTF-8";

.no-transform{
  text-transform: none;
}

.no-cursor{
  cursor: default;
}

.handbook button.md-button{
  display:block;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

body{
  background-color: #ebebeb;
  -ms-content-zooming: none;
  overflow: hidden;
}

.mdi{
  font-size: 24px;
}

svg {
  font-size: 14px;
}

svg .mainaxis{
}

svg .legendbackground{
  fill: #fff;
  shape-rendering: crispEdges;
}

svg body{
  background-color: #fff;
  position: initial;
}

svg .dot rect{
  opacity:0;
}

svg  rect.backgroundFactor{
  opacity:1;
}


svg rect.border{
  stroke-width: 2px;
  stroke: #adc8e3;
  fill: #fbfbfb;
  shape-rendering: crispEdges;
}

svg .factor{
  -ms-touch-action: none;
}

svg .factorSize{
  cursor: col-resize;
}

svg rect.factorSize{
  fill: none;
  stroke: none;
  pointer-events: all;
}

svg g.addfactor{
  cursor: pointer;
}

svg g.addfactor:hover text{
  fill: #e3e3e3 !important;
}

input.ng-invalid:focus{
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

p.invalid{
  color: #e9322d;
}

#description{
  float:left;
  background-color: #fff;
  padding-right: 40px;
  border-right: 1px solid #e5e5e5;
  position:relative;
}
#description.animate{
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
}

#description .description-text{
  padding: 10px;
  overflow-x: auto;
  word-wrap:break-word;
  width: 100%;
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: -o-calc(100% - 40px);
  width: calc(100% - 40px);
  border: none;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  color: #555555;
}

#description .description-text:focus, #description .description-text{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#description-handler{
  width: 40px;
  height:100%;
  background-color: #f5f5f5;
  position:absolute;
  right:0;
  top:0;
  border-left: 1px solid #e5e5e5;
  cursor: col-resize;
}

#description-handler div{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 30px;
  cursor: pointer;
}

#mychart{
  display:block;
  text-align: center;
  overflow: auto;
  position: relative;
}


#mychart div.iexlegend{
  position: absolute;
}

#mychart svg{
  border: 1px #dadada solid;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 10px 10px;
  cursor: default;
}

#mychart.chat-visible{
  margin-right: 250px;
}

#mychart.no-edit .axis .domain{
  cursor: default;
}
#mychart.no-edit .axis text, #mychart.no-edit .dot{
  cursor: default;
}
#mychart.no-edit .xlegend, #mychart.no-edit .iexlegend{
  cursor: default;
}
#mychart.no-edit svg .factorSize{
  cursor: default;
}
#mychart.no-edit svg g.addfactor{
  cursor: default;
}

.foreground path {
  fill: none;
  stroke-opacity: .5;
  stroke-width: 3px;
}

.foreground path.fade {
  stroke: #000;
  stroke-opacity: .05;
}

.dash{
  stroke-width: 6;
}

.axis .domain{
  opacity: 0;
  cursor: pointer;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  pointer-events: none;
}

.axis text, .dot {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}

.xlegend, .iexlegend{
  font-weight: 600;
  text-align: center;
  word-wrap:break-word;
  cursor: pointer;
}

.markerEditor{

}

.markerEditor .color {
  width: 35px;
  height: 35px;
  border: 2px solid #fff;
  overflow: hidden;
  margin: 10px 5px;
}

.markerEditor .color.selected{
  border-color: #adc8e3;
}

.no-select{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: default;
}

[my-click]{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

header h1{
  margin: 0 20px 0 0;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 70%;
  display: inline-block;
}

header h1:hover{
  background-color: rgba(0,0,0,.1);
}

header h1.untitled{
  font-style: italic;
  opacity: 0.5;
}

header .view-only-label{
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: rgb(88, 88, 88);
  margin-left: 20px;
  margin-top: 15px;
}

#legends{
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  min-height: 35px;
  padding: 0 44px 0 44px;
}

#legends .legend{
  margin-right: 10px;
  float: left;
  cursor: pointer;
}

#legends.no-edit .legend{
  cursor: default;
}

#legends .legend md-icon{
  height: 35px;
}

#legends .legend span.title{
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  height: 35px;
  line-height: 35px;
}

#legends .legend .selector{
  width: 35px;
  height: 35px;
  float: left;
  vertical-align: middle;
  line-height: 35px;
  text-align: center;
}
#legends .legend .selector{
  color: #e3e3e3
}

#legends .legend .selector:hover{
  color: none;
}

#legends .legend .selector:hover{
  background-color: #e3e3e3;
}

#legends .legend.new-legend:hover, #legends .legend .marker:hover, #legends .legend span:hover{
  background-color: #e3e3e3;
}

#legends .legend.selected{

}

#legends .legend .marker {
  height: 35px;
  width: 46px;
  float:left;
  padding-right: 5px;
  padding-left: 5px;
}

#legends .legend .marker path{
  stroke-width: 3px;
}


#legends .legend.new-legend{
  font-style: italic;
  margin-left: 35px;
}

#legends.chat-visible{
  margin-right: 250px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 4px 0;
}
.table td {
  padding: 8px 0;
}

.table-hover tbody tr:hover{
  background-color: #5E6FC7;
}

#dialog-recent table td:nth-child(1),
#dialog-recent table th:nth-child(1){
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  max-width: 200px;
}

#dialog-recent table td:nth-child(2),
#dialog-recent table th:nth-child(2){
  width:120px;
}

#dialog-recent table td:nth-child(3),
#dialog-recent table th:nth-child(3){
  width:50px;
  text-align:center;
}

#dialog-recent table td{
  border-top: 1px solid #ddd;
}



@-webkit-keyframes highlight {
  0% {
    background-color: rgba(248, 148, 6, 1);
  }
  100% {
    background-color: rgba(248, 148, 6, 0.4);
  }
}
@-moz-keyframes highlight {
  0% {
    background-color: #f89406;
  }
  100% {
    background-color: #f0c17c;
  }
}
@keyframes highlight {
  0% {
    background-color: #f89406;
  }
  100% {
    background-color: #f0c17c;
  }
}


#chat-toggle{
  width: 244px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 2px 2px 4px;
}

#chat-toggle i:before{
  width: 8px;
}

#chat-toggle.got-new-msg{
  -webkit-animation: highlight 2s;
  -webkit-animation-direction:alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function:  cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-animation: highlight 2s;
  -moz-animation-direction:alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function:  cubic-bezier(0.250, 0.460, 0.450, 0.940);
  animation: highlight 2s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-timing-function:  cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#chat-toggle.ui-show{
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

#chat-sidebar{
  position: fixed;
  right:0;
  bottom:0;
  width: 250px;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

#chat-header .user{
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  padding: 2px 2px 2px 4px; 
}

#chat-header .user.can-edit{
  font-style: italic;
}

#chat-content {
  background-color: #fff;
  overflow-x:hidden;
  overflow-y:auto;
}
#chat-content .messages{
  padding: 10px 10px 0 10px;
}

#chat-content .message{
  word-wrap:break-word;
}

#chat-content .message.status span{

}

#chat-content .message.can-edit span{
  font-style: italic;
}

#chat-content .message.msg span{
  font-weight: bold;
}

#chat-content .message.msg span i{
  color: rgba(0,0,0,0.6);
}

#chat-content .message.msg span:after{
  content: ':';
}

#chat-footer{
  background-color: #f5f5f5;
  padding: 17px 13px 0 13px;
}
#chat-footer textarea{
  min-height: 80px;
}