<h3>Editing</h3>

<p>A typical edit session start by adding <i>factors</i> and then drawing value curves onto the canvas.
We will call each point of a <i>value curve</i> on a <i>factor</i> column an <i>offering</i>.</p>

<h4>Factors</h4>
<ul>
<li>are added by clicking the big plus on the right</li>
<li>can be removed* or renamed by clicking on their label.</li>
<li>can be reordered by dragging them at their outside part of their column (blue on the picture)</li>
</ul>
<p><img src="/images/handbook/factor_offering.png" class="frame"/></p>

<h4>Value curves</h4>
<ul>
<li>can be added manually by click the new button</li>
<li>are added automatically if a new offering is added to a factor, which already has offerings for all currently available value curves.</li>
<li>can me removed* or renamed by clicking on their label.</li>
<li>can have different colors, symbols and line styles by clicking on their symbol in the legend bar.</li>
</ul>

<p><img src="/images/handbook/serie_marker.png" class="frame"/></p>

<h4>Offerings</h4>
<ul>
<li>can be added by clicking in the middle part of a <i>factor</i> column (red on the picture)</li>
<li>can be dragged to change their value.</li>
<li>can be removed by dragging them outside the canvas'bottom border.</li>
</ul>
<p><img src="/images/handbook/factor_offering.png" class="frame"/></p>

<h4>*About removing</h4>
<p>Removing does not delete the values, but only hides them from the canvas.
Adding the same factor or value curve, will bring the connected data back onto the canvas.</p> 