<h3>Privacy</h3>

<h4>Your Data</h4>
<p>All Member data and any and all data furnished by you in whatever form (collectively, the "Member IP") are and shall remain
your exclusive and confidential property. You retain all right and title (including, without limitation, all proprietary rights) in and to the Member IP.</p>

<h4>Data Security</h4>
<p>In default open mode, any data can be accessed provided the user has the edit link.</p>

<h4>Website Visitors</h4>
<p>Like most website operators, we collect non-personally-identifying information of the sort that web browsers and servers typically make available,
such as the browser type, language preference, referring site, and the date and time of each visitor request.
Our purpose in collecting non-personally identifying information is to better understand how our visitors use our website.
From time to time, we may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of our website.</p>

<p>We also collect potentially personally-identifying information like Internet Protocol (IP) addresses. We do not use such information to identify our visitors,
however, and do not disclose such information, other than under the same circumstances that we use and disclose personally-identifying information as described below.</p>