<h3>Collaboration</h3>

<h4>Sharing</h4>
<p>Each canvas has two links: a <i>view link</i> and an <i>edit link</i>:
<ul>
<li>With the <i>edit link</i> the user has full access to edit the canvas.</li>
<li>With the <i>view link</i> a user can only see the canvas in a read-only state.</li>
</ul></p>

<h4>Realtime collaboration</h4>
<p>Any edit done by an editor is <i>immediatly shown</i> to any connected user.</p>
<p>All users connected at the same time to the same canvas can chat together.</p>
<p>When more than one user is connected to the canvas a chat icon will appear on the top right.
Clicking it will toggle the display of the chat window.</p>
<p>Users with the <i class="icon-eye-open"></i> icon are <i>viewers</i>, the others are <i>editors</i>.</p>
<p><img src="/images/handbook/chat_window.png" class="frame" />



