<h3>Strategy Canvas</h3>

<blockquote>
	<p>The strategy canvas is the central diagnostic and action framework for building a compelling blue ocean strategy.
The horizontal axis captures the range of factors that the industry competes on and invests in,
while the vertical axis captures the offering level that buyers receive across all these key competing factors.</p>
<small><a href="http://www.blueoceanstrategy.com/about/concepts/strategy-canvas/">Blue Ocean Strategy&copy; - Strategy Canvas Concept</a>
by W. Chan Kim and Renée Mauborgne</small>
</blockquote>

<p>This app helps in designing strategy canvases by allowing to interactively create them.
Additionally, it provides real-time collaboration features, as well as wizards, and other features
to help facilitate the creation and analysis process. 
</p>

<ul>
<li><a href="http://hbswk.hbs.edu/archive/3020.html">Charting Your Company's Future - Your Company Strategy in Pictures</a></li>
<li><a href="http://www.ignyte.ms/whitepapers/chartingyourcompanysfuture.pdf">Charting Your Company’s Future, <i>Harvard Business Review, Vol. 80, No. 6, June 2002</i></a></li>
</ul>

<p><a ng-click="copyExample()"><i class="icon-copy"></i> Southwest Airlines example</a></p>

<h4>Demonstration of the concept on paper</h4>
<iframe width="640" height="480" src="http://www.youtube.com/embed/XV_8hLljwUg?rel=0" frameborder="0" allowfullscreen></iframe>
by derekjlunde